<%- include ('../shared/general-html/head.ejs')%>
<%- include ('header.ejs') %>
<h1 class="text-center"><b>Activities</b></h1>
<br>
<button href="#" class="ml-5 mb-3 btn btn-lg btn-success"><span class="glyphicon glyphicon-pencil"></span> Add Activity</button>

<!--Activities list-->
<div class="container">
    <table class="table table-striped table-bordered">
        <tr>
            <th>Activity Name</th>
            <th>Type</th>
            <th>Initial Date</th>
            <th>Final Date</th>
            <th>Duration (HH:MM)</th>
            <th>Cost (USD)</th>
            <th>Edit</th>
            <th>Schedule</th>
            <th>Artworks</th>
            <th>Disable</th>
        </tr>
        <!--Iterar con un for-->
        <tr>
            <td>Performance 1</td>
            <td>Perfomance</td>
            <td>01-01-2020</td>
            <td>02-01-2020</td>
            <td>02:00</td>
            <td>25.00</td>
            <td><button href="#" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span> Edit</button></td>
            <td><button href="#" class="btn btn-warning"><span class="glyphicon glyphicon-time"></span> Schedule</button></td>
            <td><button href="#" class="btn btn-success"><span class="glyphicon glyphicon-picture"></span> Artworks</button></td>
            <td><button href="#" class="btn btn-danger"><span class="glyphicon glyphicon-minus-sign"></span> Disable</button></td>
        </tr>
        <!--Fin for-->
    </table>
    <hr>
</div>