<%- include ('../shared/general-html/head.ejs')%>
<%- include ('header.ejs') %>
<h1 class="text-center"><b>New Artwork</b></h1>
<!--Artwork form-->
<!--Mandar este estilo al archivo de estilos-->
<div  style="margin: 0 auto; width:80%;">
    <form action="#" method="POST">
        <div class="form-group row">
            <label for="name" class="col-sm-2 col-form-label">Artwork's Name:</label>
            <div class="col-sm-10">
            <input class="form-control" id="name" type="text" name="name" >
            </div>
        </div>
        <br>
        <div class="form-group row">
            <label for="year" class="col-sm-2 col-form-label" >Year:</label>
            <div class="col-sm-10">
            <input class="form-control" id="year" type="text" name="year">
            </div>
        </div>
        <br>
        <div class="form-group row">
            <label for="type" class="col-sm-2 col-form-label" >Type:</label>
            <div class="col-sm-10">
            <input class="form-control" id="type" type="text" name="type">
            </div>
        </div>
        <br>
        <div class="form-group row">
            <label for="description" class="col-sm-2 col-form-label">Description:</label>
            <div class="col-sm-10">
            <textarea class="form-control" id="description" type="text" name="description"></textarea>
            </div>
        </div>
        <br>
        <div class="form-group">
            <label for="avatar">Upload image:</label>
            <input class="form-control-file" type="file" id="avatar" name="avatar">
        </div>
    </form>
</div>
<!--Button-->
<div class="d-flex justify-content-center">
    <button class="bg-warning mt-3 btn-lg">Save Artwork</button>
</div>