<%- include ('../shared/general-html/head.ejs')%>
<%- include ('header.ejs') %>
<h1 class="text-center"><b>Authors</b></h1>
<br>
<a href="#" class="ml-5 mb-3 btn btn-lg btn-success"><span class="glyphicon glyphicon-pencil"></span> Add Author</a>

<!--Authors list-->
<div class="container">
    <table class="table table-striped table-bordered">
        <tr>
            <th>Author ID</th>
            <th>Full Name</th>
            <th>Country</th>
            <th>Description</th>
            <th>Edit</th>
            <th>Disable</th>
        </tr>
        <!--Iterar con un for-->
        <tr>
            <td>0000001</td>
            <td>Name Surname Lastname</td>
            <td>RU</td>
            <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum illo, magnam quod ipsam commodi rerum earum neque quia dignissimos unde nemo animi nisi totam iste id eaque modi quam non consectetur, eligendi quas libero? Assumenda labore accusamus illum numquam culpa.</td>
            <td><a href="#" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span> Edit</a></td>
            <td><a href="#" class="btn btn-danger"><span class="glyphicon glyphicon-minus-sign"></span> Disable</a></td>
        </tr>
        <!--Fin for-->
    </table>
    <hr>
</div>