<%- include ('../shared/general-html/head.ejs')%>
<%- include ('header.ejs') %>
<!--Meter imágenes de cada sección-->
<div class="d-flex justify-content-around">
    <button class=" btn-lg btn-primary button-panel" id="button_activities">
        Activities
    </button>
     <button class=" btn-lg btn-primary button-panel" id="button_artworks">
        Artworks
    </button>
     <button class="btn-lg btn-primary button-panel" id="button_authors">
        Authors
    </button>
     <button class="btn-lg btn-primary button-panel" id="button_users">
        Users
    </button>
    <button class="btn-lg btn-primary button-panel" id="button_purchases">
        Purchases
    </button>
</div>