<div class="d-flex flex-row-reverse mt-2">
    <a class="navbar-brand" href="/admin/logout">
        <h3 class="text-secondary"> Log Out </h3>
        </a>
    <a class="navbar-brand">
    <h3 class="text-secondary"> <%=username%> </h3>
    </a>
    <a class="navbar-brand" href="/admin">
        <h3 class="text-secondary"> Dashboard </h3>
        </a>
</div>
<hr>