<%- include ('../shared/general-html/head.ejs')%>
<%- include ('shared/header.ejs')%>
<!--Breadcrumbs-->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-white">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item"><a href="#">Category</a></li>
      <li class="breadcrumb-item"><a href="#">Activity Name</a></li>
      <li class="breadcrumb-item"><a href="#">Artworks</a></li>
      <li class="breadcrumb-item active">Authors</li>
    </ol>
</nav>
<!--Activity Main Info-->
<div>
    <h3 class="text-center">Category</h3>
    <h3 class="text-center"><b>Activity Name</b></h3>
    <h4 class="text-center">AUTHORS</h4>
</div>
<!--Activity Artworks-->
<div class="container mb-5">
    <div class="row">
      <div class ="col">
          <!--Recorrer con un for de dos en dos -->
          <div class="artwork-item">
            <h4><b>Author 1</b></h4> 
            <span>
             <img width="260px" src=/images/performances/perf2.png class="float-left">
              <p class="p-2 text-justify">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni cumque consequuntur harum cum quod odio commodi repudiandae ratione suscipit! Illum maiores quae debitis cum ipsa sint labore exercitationem earum amet necessitatibus, ratione recusandae. Ea reiciendis et veritatis dolorem repellat eligendi velit tenetur temporibus! Minus eius voluptatibus atque sapiente quia pariatur nesciunt repellat veritatis cupiditate placeat delectus quod fuga non, veniam harum accusamus iure quo dolorem magni, earum tempore libero deserunt distinctio nemo! Exercitationem asperiores necessitatibus neque rem odio aliquid ab!</p>
              </span>  
       
         </div>
         <div class="artwork-item">
          <h4><b>Author 1</b></h4> 
            <span>
           <img width="260px" src=/images/performances/perf2.png class="float-left">
            <p class="p-2 text-justify">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni cumque consequuntur harum cum quod odio commodi repudiandae ratione suscipit! Illum maiores quae debitis cum ipsa sint labore exercitationem earum amet necessitatibus, ratione recusandae. Ea reiciendis et veritatis dolorem repellat eligendi velit tenetur temporibus! Minus eius voluptatibus atque sapiente quia pariatur nesciunt repellat veritatis cupiditate placeat delectus quod fuga non, veniam harum accusamus iure quo dolorem magni, earum tempore libero deserunt distinctio nemo! Exercitationem asperiores necessitatibus neque rem odio aliquid ab!</p>
            </span>
        </div>
        <!--Fin For-->
        <div class="artwork-item">
            <h4><b>Author 1</b></h4> 
            <span>
            <img width="260px" src=/images/performances/perf2.png class="float-left">
            <p class="p-2 text-justify">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni cumque consequuntur harum cum quod odio commodi repudiandae ratione suscipit! Illum maiores quae debitis cum ipsa sint labore exercitationem earum amet necessitatibus, ratione recusandae. Ea reiciendis et veritatis dolorem repellat eligendi velit tenetur temporibus! Minus eius voluptatibus atque sapiente quia pariatur nesciunt repellat veritatis cupiditate placeat delectus quod fuga non, veniam harum accusamus iure quo dolorem magni, earum tempore libero deserunt distinctio nemo! Exercitationem asperiores necessitatibus neque rem odio aliquid ab!</p>
            </span>
        </div>
        <div class="artwork-item">
            <h4><b>Author 1</b></h4> 
            <span>
            <img width="260px" src=/images/performances/perf2.png class="float-left">
            <p class="p-2 text-justify">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni cumque consequuntur harum cum quod odio commodi repudiandae ratione suscipit! Illum maiores quae debitis cum ipsa sint labore exercitationem earum amet necessitatibus, ratione recusandae. Ea reiciendis et veritatis dolorem repellat eligendi velit tenetur temporibus! Minus eius voluptatibus atque sapiente quia pariatur nesciunt repellat veritatis cupiditate placeat delectus quod fuga non, veniam harum accusamus iure quo dolorem magni, earum tempore libero deserunt distinctio nemo! Exercitationem asperiores necessitatibus neque rem odio aliquid ab!</p>
            </span>
        </div>
      </div> 
    
    </div>
</div>


<div class="container text-center">
    <button class="bg-warning mt-3 btn-lg">Buy your ticket</button>
    <br>
    <!-- activities = activity category-->
    <button class="bg-primary mt-3 btn-lg">See other activitites</button>
</div>


<%- include ('shared/footer.ejs')%>