<%- include ('../shared/general-html/head.ejs')%>
<%- include ('shared/header.ejs')%>
<!--Activity info (main)-->
<div >
    <h3 class="text-center">Category</h3>
    <h3 class="text-center"><b>Activity Name</b></h3>
    <img class="rounded mx-auto d-block mb-2" width="400px" src=/images/performances/perf2.png>
    <h3 class="text-center">BUY YOUR TICKET</h3>
</div>
<!--Date picker-->

<div class="container">
    <form action="#">
        <label for="date">Choose the date of your visit:</label>
        <input type="date" id="date" name="date">
        <input type="submit">
      </form>
</div>
<div class="container">
    <form action="#">
        <label for="time">Choose your schedule:</label>
        <input type="time" id="time" name="time">
        <input type="submit">
      </form>
</div>
<div class="container text-center">
    <label>Quantity:</label>
    <input name="quantity" id="quantity" type="number" value="5" min="0" max="1000" step="1"/>
</div>
<div class="container text-center">
    <table>
        <tr>
            <th class="pr-5"><b>Admission</b></th>
            <th><b>Total</b></th>
        </tr>
        <tr>
            <td class="pr-5">
                $20.00
            </td>
            <td>
                $60.00
            </td>
        </tr>
    </table>
</div>
<div class="container text-center">
    <button class="bg-warning mt-3 btn-lg">Buy your ticket</button>
</div>

<%- include ('shared/footer.ejs')%>